.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 8rem 4rem;
}

/* === CARD DISCUSSION START */
.d-card {
    width: 100%;
    border: 1.5px solid #617A55;
    height: auto;
    border-radius: 6px;
    transition: .2s ease;
    margin: 0 0 15px 0;
}

.d-card a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px 20px;
}

.d-card:hover {
    transform: scale(1.01);
}

.d-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    margin: 0 0 10px 0;
}

.d-title p {
    color: #111;
    text-align: left;
    text-decoration: none;
    word-break: break-all;
}

.d-footer {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.d-footer button.ri-delete-bin-6-line {
    border: 1.3px solid red;
    border-radius: 6px;
    padding: 3px 10px;
    /* width: 30px; */
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease;
}

.d-footer button.ri-delete-bin-6-line:hover {
    background-color: red;
    color: whitesmoke;
}

/* === CARD DISCUSSION END === */

/* === ADD DISCUSSION START === */
.d-add {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 30px 0;
}

.add-discussion {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
    z-index: 3;
}

.add-discussion.sticky {
    position: fixed;
}

/* === ADD DISCUSSION END === */

/* === DISCUSSIO BOX ADD START === */
.sec-add-dis {
    display: flex;
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A4D0A4;
    border-radius: 10px 0 0 10px;
    max-width: 0;
    overflow: hidden;
    transition: max-width .2s;
}

.sec-add-dis.active {
    max-width: 20rem;
}

.sec-add-dis label {
    margin: 0 0 10px 0;
}

.sec-add-dis input {
    width: 90%;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.sad-submit {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
}

/* === DISCUSSIO BOX ADD END === */

/* === NOT FOUND START === */
.not-found-page {
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-page h1 {
    color: #00000058;
}

/* === NOT FOUND END === */

/* === FORUM START === */
.dp-container {
    width: 100%;
    height: auto;
    padding: 4rem 3rem 7rem;
    display: flex;
    flex-direction: column;
}

.back-to-start {
    width: 100%;
    height: 2rem;
    margin: 0 0 2rem 0;
}

.back-to-start a {
    font-size: 20px;
    color: #111;
}

.dp-card {
    width: 100%;
    height: auto;
    padding: 26px;
    background-image: linear-gradient(to right, #F7E1AE, #FFF8D6);
    border-radius: 8px;
    margin: 0 0 2rem 0;
}

.dp-title h1 {
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}

.dp-comment {
    width: 100%;
    height: auto;
    border: 1.5px solid #111;
    border-radius: 0 30px 30px 30px;
    margin: 0 0 20px 0;
    padding: 15px 26px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dp-comment-user {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dp-comment-text {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.dp-comment-text pre {
    text-decoration: none;
    white-space: pre-wrap;
}

.dp-created-dt-replay {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dp-created-dt-replay p {
    color: #a0a0a0;
}

.dp-created-dt-replay p.reply:hover {
    color: #111;
    cursor: pointer;
}

.dp-input-box {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 1rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A4D0A4;
}

.dp-input {
    max-width: 50%;
    min-width: 50%;
    max-height: 2.5rem;
    min-height: 2.5rem;
    margin: 0 10px 0 0;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.dp-input::-webkit-scrollbar {
    width: 0;
}

.dp-button {
    width: 38px;
    height: 38px;
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: #fff;
    font-size: 20px;
}

button.ri-delete-bin-6-line {
    border: 1.3px solid red;
    border-radius: 6px;
    padding: 3px 10px;
    color: red;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s ease;
}

button.ri-delete-bin-6-line:hover {
    background-color: red;
    color: whitesmoke;
}
/* === FORUM END === */