.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 8rem 4rem;
}

.d-card {
    border: 1.5px solid #617A55;
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: .2s ease;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.d-card:hover {
    transform: scale(1.02);
}


.d-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    margin: 0 0 10px 0;
}

.d-title p {
    color: #111;
    text-align: left;
    text-decoration: none;
    word-break: break-all;
}

.d-footer {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.d-footer button.ri-delete-bin-6-line {
    border: 1.3px solid red;
    border-radius: 6px;
    padding: 3px 10px;
    /* width: 30px; */
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease;
}

.d-footer button.ri-delete-bin-6-line:hover {
    background-color: red;
    color: whitesmoke;
}

.d-add {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 30px 0;
}

.add-discussion {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
    z-index: 3;
}

.add-discussion.sticky {
    position: fixed;
}

.sec-add-dis {
    display: flex;
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A4D0A4;
    border-radius: 10px 0 0 10px;
    max-width: 0;
    overflow: hidden;
    transition: max-width .2s;
}

.sec-add-dis.active {
    max-width: 20rem;
}

.sec-add-dis label {
    margin: 0 0 10px 0;
}

.sec-add-dis input {
    width: 90%;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.sad-submit {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
}