.sec-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10rem 0 40px 0;
}

.health-component-begin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6rem;
    margin: 0 0 6rem 0;
    position: fixed;
    z-index: 3;
}

/* === SEARCH START === */
.src-box {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 0 30px 0;
}

.src-search {
    width: 80%;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin: 0 10px 0 20px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.src-button {
    width: 38px;
    height: 38px;
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: #0000;
    font-size: 20px;
}

.src-button:hover {
    opacity: .8;
}

/* === SEARCH END === */

/* === ADD HEALTH START === */
.add-discussion {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
    margin: 0 0 0 20px;
    z-index: 3;
}

.sec-add-dis {
    display: flex;
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A4D0A4;
    border-radius: 10px 0 0 10px;
    max-width: 0;
    overflow: hidden;
    transition: max-width .2s;
    z-index: 4;
}

.sec-add-dis.active {
    max-width: 20rem;
}

.sec-add-dis label {
    margin: 0 0 10px 0;
}

.sec-add-dis input {
    width: 90%;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.sec-add-dis textarea {
    max-width: 90%;
    min-width: 90%;
    max-height: 40%;
    min-height: 40%;
    padding: 10px 13px;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
    text-indent: none;
}

.sec-add-dis textarea::-webkit-scrollbar {
    width: 0;
}

.sad-submit {
    width: 11rem;
    height: 2.4rem;
    border: none;
    background-color: #617A55;
    color: #fff;
    border-radius: 6px;
}

/* === ADD HEALTH END === */

/* === SECTION START === */
.sec-box {
    padding: 14px 20px 0;
    min-height: 80px;
    width: 100%;
    display: flex;
    overflow: auto;
}

.sec-box::-webkit-scrollbar {
    width: 0;
}

.sec-button {
    border: 1.5px solid #A4D0A4;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
    min-width: 10rem;
    height: 40px;
    padding: 0 20px;
    transition: .2s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
}

.sec-button:hover {
    transform: translateY(5px);
    color: white;
    background-color: #A4D0A4;
}

/* === SECTION END === */

/* === CONTENT START === */
.h-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    margin: 0 0 20px 0;
}

.h-content a {
    transition: .2s ease;
}

.h-content a:hover {
    transform: scale(1.01);
}

.h-card {
    width: 100%;
    height: 100%;
    border: 1.5px solid #A4D0A4;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #111;
}

.h-text {
    max-width: 85%;
    height: 100%;
    padding: 15px;
}

.h-text h2 {
    margin: 0 0 7px 0;
    text-transform: capitalize;
}

.h-text p {
    width: 100%;
    height: 100%;
    word-break: break-all;
}

.wtc {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

p.writer,
p.cd {
    width: auto;
    height: auto;
    color: #a0a0a0;
}

.h-image {
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    display: flex;
    align-items: start;
    margin: 15px 20px;
}

.h-image img {
    width: 100%;
    object-fit: cover;
    border: 1.5px solid #A4D0A4;
    border-radius: 6px;
}

.not-found-page {
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-page h1 {
    color: #00000058;
}

.h-action {
    height: auto;
    display: flex;
    flex-direction: row;
}

button.ri-delete-bin-6-line {
    border: 1.3px solid red;
    border-radius: 6px;
    padding: 3px 10px;
    color: red;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s ease;
}

button.ri-delete-bin-6-line:hover {
    background-color: red;
    color: whitesmoke;
}

button.ri-edit-box-line {
    border: 1.3px solid sandybrown;
    border-radius: 6px;
    padding: 3px 10px;
    color: sandybrown;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s ease;
}

button.ri-edit-box-line:hover {
    background-color: sandybrown;
    color: whitesmoke;
}

/* === CONTENT END === */

/* === DATALIST START */
datalist {
    position: absolute;
    top: 50px;
    max-height: 10rem;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
    text-transform: capitalize;
    border-radius: 10px;
}

datalist option {
    font-size: 1rem;
    padding: 10px 0 10px 10px;
    background-color: #ccc;
    cursor: pointer;
}

/* active option styling */
datalist option:hover,
datalist option:focus {
    color: #fff;
    background-color: #617A55;
    outline: 0 none;
}

/* === DATALIST END */

/* === HEALTH ARTICLE START === */
.ha-container {
    width: 100%;
    height: auto;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
}

.back-to-start {
    width: 100%;
    height: 2rem;
    margin: 0 0 2rem 0;
}

.back-to-start a {
    font-size: 20px;
    color: #111;
}

.ha-card {
    width: 100%;
    height: auto;
    padding: 26px;
    background-image: linear-gradient(to right, #F7E1AE, #FFF8D6);
    border-radius: 8px;
}

.ha-title h1 {
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}

.ha-desc pre {
    text-decoration: none;
    white-space: pre-wrap;
}

.ha-image {
    width: 15rem;
}

/* === HEALTH ARTICLE END === */